/* carousel styling */
.container {
  margin: 0 auto;
  width: 250px;
  height: 70px;
  position: relative;
  perspective: 1000px;
}
.my-carousel {
  height: 100%;
  width: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 2s;
  margin-top: 200px;
  margin-bottom: 20px;
}
.item {
  display: block;
  position: absolute;
  background-color: rgba(100,200,220,0.8);
  background-position: center;
  width: 170px;
  height: 170px;
  text-align: center;
  color: white;
  margin: 10px;
  text-align: center;
  box-shadow: 2px 5px 10px 1px black;
}
.next, .prev {
  color: white;
  background: rgba(100,200,220,1);;
  top: 100px;
  padding: 1em 2em;
  margin: 20px;
  cursor: pointer;
  border-radius: 5px;
  border-top: 1px solid #FFF;
  transition: box-shadow 0.1s, top 0.1s;
}
.next:hover, .prev:hover { color: #000; }
.next:active, .prev:active {
  top: 104px;
}

/* END carousel styling*/
